#!/bin/bash

# Omit long lines from rg output
alias rg="rg -S"

# Manage config stuff
alias config="git --git-dir=\$HOME/.cfg --work-tree=\$HOME"
alias reload=". ~/.zshrc && echo 'ZSH config reloaded'"

# Mercurial
alias hgu="hg pull -u"
alias hgs="hg status"

# VMs
alias winxp="virtualbox --startvm 'IE8 - WinXP'"
alias vista="virtualbox --startvm 'IE7 - Vista'"
alias win7="virtualbox --startvm 'IE11 - Win7'"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Weather!
alias wttr="curl wttr.in/dublin"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep 'chrome --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs -I '{}' kill '{}'"
