#!/bin/bash

# IP geolocation data
function ipinfo() {
    curl -w "\n" http://ipinfo.io/"$1"
}

# Simple desktop capture
function capture() {
	local output=$1

	# Generate a file name if none is provided
	if [[ -z $output ]]; then
		output=capture-$(date +%FT%H_%M_%S).webm
	fi

	echo "Capturing screen to $output..."
	echo "Press ctrl-c to stop encoding"

	# Get the resolution of the default display
	local resolution=$(xrandr | grep -m 1 "*" | grep -Po '\d+x\d+')

	# Grab the full screen area of the default display and output it to a file
	avconv -f x11grab -r 30 -s "$resolution" -i "$DISPLAY" -deadline realtime\
		-b 5M -minrate 500k -maxrate 40M -loglevel error "$output" || echo
}

# Convenient calculation
function calc() {
	echo "$@" | bc -l
}

# Simple http server
function server() {
	local port=$1

	# Default port
	if [[ -z $port ]]; then
		port=8080
	fi

	echo "http://localhost:$port"
	python 2>/dev/null -m SimpleHTTPServer $port || echo
}