#!/bin/bash

# IP geolocation data
function ipinfo() {
    curl -w "\n" http://ipinfo.io/"$1"
}

# Simple desktop capture
function capture() {
	local output=$1

	# Generate a file name if none is provided
	if [[ -z $output ]]; then
		output=capture-$(date +%FT%H_%M_%S).mp4
	fi

	echo "Capturing screen to $output..."
	echo "Press [q] to stop encoding"

	# Get the resolution of the default display
	local resolution=$(xrandr | grep -m 1 "*" | grep -Po '\d+x\d+')

	# Grab the full screen area of the default display and output it to a file
	ffmpeg -f x11grab -framerate 30 -video_size "$resolution" -i "$DISPLAY"\
		-loglevel error  "$output"
}

# Convenient calculation
function calc() {
	echo "$@" | bc -l
}

# Adds latency and packet loss to eth0.
# For when you network is simply too fast.
function slowmode() {
	local delay=${1:-200}
	local loss=${2:-20}

	# Apply network latency and packet loss
	sudo tc qdisc add dev eth0 root netem loss "$loss%" delay "${delay}ms" 10ms 25%

	# Make sure to disable it again on exit
	trap 'sudo tc qdisc del dev eth0 root; echo; return' SIGINT SIGTERM

	echo "Slow mode enabled"
	echo "Press ctrl-c to disable slow mode"

	# Do nothing until we exit
	while true; do
		sleep 60
	done
}
